@***************************************************************************
    Author: Sahar Saeednooran
    Class: Index.cshtml

    Purpose: work in progress ...
             Razor view page default view of CANFOOD application

    Last Modified: Feb 18th, 2018
    **************************************************************************@
<br />
<h4>Canadian Food Statistics</h4>

<a href="@Url.Content("https://open.canada.ca/data/en/dataset/e8a4c5ec-4e75-4050-8a11-f13bef3bb357")">Industry price indexes for meat, fish and dairy products, fruits, vegetables and feeds, beverages and tobacco</a></p>

<a href="@Url.Content("https://open.canada.ca/en/open-government-licence-canada")">Open Government Licence - Canada</a>

